@import "_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_bootswatch";
$nav-background : $gray-dark;ã€€


.container {
  max-width: 780pt;
}

.navbar-nav > li {
  transition: background 0.5s;
  &:hover {
    background: $navbar-default-link-active-bg;
  }
}
.top-wrap {
  width: 100%;
  background: #f8f8f8;
  color: #666;
  padding: 5px;
  border-bottom: solid 1px #e8e8e8;
}
#top-search {
  width:300px;
}
.form-control {
  transition: border;
}
.carousel-control {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  background: #222;
  opacity: 0;
  height: 50px;
  top: 110px;
  left: 0;
  transition: opacity 0.2s;
}
.carousel .carousel-control { opacity: 0; }
.carousel:hover .carousel-control { opacity: 0.5; }
.carousel-ad-text div{
  font-size:18px;
}
.store-table{
  td {
    width: 20%;
    height: 140px;
    padding: 12px;
    text-align:center;
    vertical-align: middle;
  }
}
.top-panel {
  border-top:solid 10px darken($brand-primary,10%);
  h3 {
    margin-top:10px;
  }


}
.letter-nav {
  width: 90%;
  font-size:20px;
  margin-left:10px;
  text-align: justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

}

.vcenter {

  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.good-list {
  border-bottom:solid 1px #e8e8e8;
  border-left:solid 1px #e8e8e8;
  border-right:solid 1px #e8e8e8;

}
.good-list:first-child {
  border-top:solid 1px #e8e8e8;
}
.good-img  {

    margin-top: 20px;
    padding: 10px;
}

.good-action  {

  margin-top: 20px;

}
.couponcode {
  width: 100px;
}

.border-bot {
    padding-bottom: 4px;
    border-bottom: solid 4px #E79E42;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-top:solid 20px #607d8b;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}