@import "_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_bootswatch";
$nav-background : $gray-dark;ã€€
body{
  background: #f8f8f8;
}

.col-lg-2-4{
  @include make-lg-column(2.4)
}
.col-md-2-4{
  @include make-md-column(2.4)
}
.col-sm-2-4{
  @include make-sm-column(2.4)
}

table,tr,td,th {
  background: #fff;
}
#searchicon {
  color:$brand-success;
  display: none;
}
.carousel-img {
  height:60px;
  & img {
    display: inline-block;
    vertical-align: middle;
    max-width:160px;
    max-height:60px;
    margin: auto;
    width: auto;
    height: auto;
  }
}
.carousel-link {
  text-decoration: none !important;
  display: block;

}
.carousel-ad{

    border:solid 1px #ccc;

}


.navbar-brand > img {
  margin:0;
  padding: 0;
}
.navbar-default {
  background: #fff;
}

.navbar-nav > li {
  transition: color 0.5s;

}
.body-wrap {
  margin-top:120px;
}
.searchbar {
  width: 100%;
  color: #666;
  padding: 8px;
  margin-top:50px;
  background-color:#eee;
  border-bottom:solid 1px #ddd;
  z-index:10;
  transition: all 0.5s ease;
}
#top-search {
  width:300px;
}
.form-control {
  transition: border;
}
.carousel-text{
  margin-bottom: 3px;
}
.carousel-control {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  background: #222;
  opacity: 0;
  height: 50px;
  top: 110px;
  left: 0;
  transition: opacity 0.2s;
}
.carousel .carousel-control { opacity: 0; }
.carousel:hover .carousel-control { opacity: 0.5; }
.carousel-ad-text div{
  font-size:18px;
}
.store-table{
  td {
    width: 20%;
    height: 100px;
    padding: 12px;
    text-align:center;
    vertical-align: middle;
    &:hover {
      background: $table-bg-hover;
    }
  }
}
.top-panel {
  border-top:solid 10px darken($brand-primary,10%);
  h3 {
    margin-top:10px;
  }


}
.letter-nav {
  width: 90%;
  font-size:20px;
  margin-left:10px;
  text-align: justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

}

.vcenter {

  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.good-list {
  background: #fff;
  border-bottom:solid 1px #e8e8e8;
  border-left:solid 1px #e8e8e8;
  border-right:solid 1px #e8e8e8;

}
.good-list:first-child {
  border-top:solid 1px #e8e8e8;
}
.good-img  {

    margin-top: 20px;
    padding: 10px;
}

.good-action  {

  margin-top: 20px;

}
.couponcode {
  width: 100px;
}

.border-bot {
    padding-bottom: 4px;
    border-bottom: solid 4px #E79E42;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-top:solid 20px #607d8b;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: 300px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
  &:hover{
    background: $brand-primary;
    color:#fff;
    cursor: pointer; cursor: hand;
  }
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
.twitter-typeahead{ float:left; width:100%}
